{% extends 'Base/base.html' %} {% block title %}About{% endblock title %}
{%block content %} 
<div class="content container my-5 py-5">
    <h4 class="fs-1 animate__animated animate__lightSpeedInLeft">Kerala Blood Bank Portal</h4>
    <hr class="my-3 w-75">
    <div class="d-flex justify-content-center">
        <span class= "text-danger animate__animated animate__pulse animate__infinite p-5"><i class="bi bi-heart-pulse-fill display-1"></i></span>
    </div>
   
    <div class="about text-center my-3 p-2">
        <p class="lead">Kerala Blood Bank Portal is an initaitive taken by a non-pofit organisation to help the needy.</p>
        <div class="contact my-4 text-start">
           <h4 class="border-bottom my-2">Contact us</h4>
            <div class="animate__animated animate__fadeInUp">
                <div class="row my-4 bg-secondary  rounded text-white">
                    <div class="col-sm-6 bg-danger p-5">
                        <h6 class="border-bottom">Address</h6>
                            <address>
                                Kerala Blood Bank Portal, <br>
                                Thiruvananthapuram, <br>
                                Kerala-695614
                            </address>
                    </div>
                    <div class="col-sm-6 bg-light p-5 text-dark">
                        <a href="tel:1234567890" class=""><button class="btn btn-primary my-2 btn-lg px-4">+91-123456789</button></a>
                        <a href="mailto:kbbp@gmail.com" class=" my-3"><button class="btn btn-danger btn-lg px-4">KBBP@gmail.com</button></a>
    
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}
