{%extends 'Base/base.html'%} {%block title%}Kerala Blood Bank Portal
{%endblock%} {%block style%}
{%endblock%}
{%block content%}
<div class="subDiv">
    <div class="banner  text-center">
        <h1 class=" display-1 animate__animated animate__backInLeft shadow rounded p-4  ">Welcome to <br> Kerala Blood
            Bank
            Portal</h1>
    </div>
    <hr>
    <div class="content border p-5   container my-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="p-5">
                    <div class="d-flex flex-column justify-content-end">
                        <p class="lead">Donating blood has benefits for your emotional and physical health. According to a report by the Mental Health Foundation, helping others can: reduce stress; improve your emotional well being.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <img src="https://media.istockphoto.com/vectors/drop-vector-id1081786788?k=20&m=1081786788&s=612x612&w=0&h=LbVZIIk-YIkPU2z3smmTa5XhniEkZqZd1i9vRhVk5TA="
                    class="img img-fluid rounded shadow h-100" alt="Temp" width="200px" height="200px">
            </div>
        </div>

        <hr class="my-3">
        <div class="row">
            <div class="col-sm-6 text-center">
                <img src="https://images.squarespace-cdn.com/content/v1/57bf2267579fb34fc4a7cf04/1578612545780-QOJS0A1PVFJOK1XOKN4D/Medical+Banner.jpg?format=1500w"
                    alt="blood" class="img img-fluid h-100" width="400px" height="200px">
            </div>
            <div class="col-sm-6 text-center p-5">
                <p class="lead">Every year millions of lives are being saved because of donation of blood and blood products. Blood donation has helped various patients who were suffering from life threatening conditions to live longer with higher quality of life.</p>
            </div>
        </div>
    </div>
    <div class="container border my-4 p-5">
        <div class="row p-2">
            <div class="col-sm-4"> <i class="bi bi-activity fs-1"></i></div>
            <div class="col-sm-8">Blood Donation helps to reduce risk of heart attack and cancer</div>
        </div>
        <hr>
        <div class="row my-3 p-2">
            <div class="col-sm-4"><i class="bi bi-hospital-fill fs-1"></i></div>
            <div class="col-sm-8">By donating blood you can save someone's life</div>
        </div>
        <hr>
        <div class="row p-2">
            <div class="col-sm-4"> <i class="bi bi-heart-pulse-fill fs-1"></i></div>
            <div class="col-sm-8">Every two seconds someone needs blood</div>
        </div>
    </div>
</div>
{%endblock%}