{% extends 'Base/base.html' %} {% block title %}Login{% endblock title %}
{%block style%}
<style>
  .toastify {
    font-size: x-large;
  }
</style>
<link
  rel="stylesheet"
  href="../../static/node_modules/toastify-js/src/toastify.css"
/>{%endblock%} 
{%block content %}
<div class="content position-relative my-5 ">
    <div class="d-flex justify-content-center">
        <div class=" bg-light border p-5 shadow-lg">
            <form action="{%url 'login:userLogin'%}" method='POST'>
                {% csrf_token %}
                <div class="row  mb-5  text-center">
                    <h4 class="fs-2">Login</h4>
                    <hr>
                </div>
                <div class="row my-2">
                    <input type="text" placeholder="Email" name="username" class="form-control text-center" id="" />
                </div>
                <div class="row">
                    <input type="password" placeholder="Password" name="password" class="form-control px-5 text-center"
                        id="" />
                </div>
                <div class="d-flex justify-content-center my-3">
                    <input type="submit" value="login" class="btn w-50 btn-md btn-dark" />
                </div>
            </form>
            <div class="mx-5 px-5"><a class="" href="{%url 'register:userRegister'%}"><button class="btn btn-primary px-2 shadow">Sign up</button></a></div>
        </div>
    </div>
</div>

{% endblock content %}
{% block customScript %}
{% if form.errors %}
<script src="../../static/node_modules/toastify-js/src/toastify.js"></script>

    <script>
        Toastify({
          text: "username or password incorrect",
          duration: 3000,
          newWindow: false,
          gravity: "bottom", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
              background: "black",

          },
          // Callback after click
      }).showToast();
    </script>
{% endif %}
{% endblock customScript %}


