{% extends 'Base/base.html' %} {%load static%} {%block style%}
<style>
  .toastify {
    font-size: x-large;
  }
</style>
<link rel="stylesheet" href="../../static/node_modules/toastify-js/src/toastify.css" />{%endblock%}
{% block title %}Registration{% endblock title %}
{% block content %}
<div class="content my-5">
  <div class="container">
    <div class="fs-1 border-bottom">
      <i class="bi mx-2 text-primary fs-1 bi-person-lines-fill"></i>Registration
    </div>
    <div class="error  lead m-5">
      <div class="col-md-12">
        {% if messages %}
        <div class="messages alert alert-danger">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }} " {% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="register-form border my-4 p-4">
      <form action="{% url 'register:userRegister'%}" method="post">
        {% csrf_token %}
        <div class="row my-2">
          <div class="col-sm-6 my-3">{{form.email}}
            <div class="small text-danger">
              {% if form.email.errors %}
              {% for error in form.email.errors %}
              <div>
                {{ error|escape }}
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <hr>
        <div class="row my-2">
          <div class="col-sm-6 my-3">{{form.password1}}
            <div class="lead">
              {% if form.password1.errors %}
              {% for error in form.password1.errors %}
              <div>
                {{ error|escape }}
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="col-sm-6 my-3">{{form.password2}}
            <div class=" mx-3 small text-danger">
              {% if form.password2.errors %}
              {% for error in form.password2.errors %}
              <div>
                {{ error|escape }}
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
            <div class="d-flex justify-content-center">
              <input type="submit" value="Register" class="btn my-4 btn-primary p-2" />
            </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block customScript %}
{%load static%}
<script src="{%static 'node_modules/toastify-js/src/toastify.js'%}"></script>
<script src="{%static '/node_modules/toastify-js/src/toastify.js'%}"></script>
<script src="{%static 'common.js'%}"></script>
<!-- <script>
  
  const fetchLocation = () => {
    pincode = $("#id_pincode").val();
    const regx = /^\d+$/;
    if (pincode.match(regx)) {
      $.getJSON(
        " https://api.postalpincode.in/pincode/" + pincode,
        function (data) {
          if (data[0].PostOffice!=null) {
            var resData = [
              data[0].PostOffice[0].Name,
              data[0].PostOffice[0].District,
            ];
            $("#id_district").val(resData[1]);
            $("#id_city").append(`<option value="${resData[0]}" selected>
              ${resData[0]}
         </option>`);
          }
          else {
            Toastify({
              text: "Error: Invalid Pincode!",
              duration: 3000,
              newWindow: false,
              gravity: "bottom", // `top` or `bottom`
              position: "right", // `left`, `center` or `right`
              stopOnFocus: true, // Prevents dismissing of toast on hover
              style: {
                background: "red",

              },
              // Callback after click
            }).showToast();
          }
        }
      );
    }
    else {
      Toastify({
        text: "Error: Invalid Pincode!",
        duration: 3000,
        newWindow: false,
        gravity: "bottom", // `top` or `bottom`
        position: "right", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
          background: "red",

        },
        // Callback after click
      }).showToast();
    }
  };

{% comment %} Getting City Details {% endcomment %}

$(document).ready(function(){
  $('#id_district').change(function(){
    var optionSelect = $(this).find('option:selected')
    var valueSelected = optionSelect.val()
    district = optionSelect.text()
    data = { 'district': district }
    $.ajax({
        url: '{%url 'location:getCity'%}',
        data: data,
        type: 'get',
        success: function (result) {
            var data=JSON.parse(result)
            $("#id_city option").remove();
            if(data.length>0)
                for (var i = data.length - 1; i >= 0; i--) {
                    $("#id_city").append('<option value='+data[i].name+'>'+ data[i].name +'</option>');
                }
        }
    });
  })
})

{% comment %} End of Ajax RQ {% endcomment %}
  {% comment %} 
  {%if form.errors %}
  Toastify({
    text: "User Exist",
    duration: 3000,
    newWindow: false,
    gravity: "bottom", // `top` or `bottom`
    position: "center", // `left`, `center` or `right`
    stopOnFocus: true, // Prevents dismissing of toast on hover
    style: {
      background: "red",

    },
    // Callback after click
  }).showToast();
  {% endif %} {% endcomment %}
</script> -->
{% endblock customScript %}