<footer>
    <div class="text-center text-white  bg-danger p-3">
        <div class="row p-2">
            <div class="col-md-4 rounded p-3 ">
                <h4>Social Media</h4>
                <hr class="my-3">
                <div class="col">
                    <div class="d-flex flex-row  justify-content-center">
                        <a href="#" class="text-reset"> <i class="bi bi-facebook m-2 fs-2"></i></a>
                        <a href="#" class="text-reset"> <i class="bi bi-github  m-2 fs-2"></i></a>
                        <a href="#" class="text-reset"> <i class="bi bi-linkedin  m-2 fs-2"></i></a>
                        <a href="#" class="text-reset"> <i class="bi bi-whatsapp  m-2 fs-2"></i></a>
                        <a href="#" class="text-reset"> <i class="bi bi-youtube  m-2 fs-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 rounded p-3 ">
                <h4 class="">Quick Links</h4>
                <hr class="my-3">
                <div class="row">

                </div>
            </div>
            <div class="col-md-4  rounded p-3 ">
                <h4>Mail us</h4>
                <hr class="my-3">
                <form action="#">
                    <div class="d-flex justify-content-center my-3">
                        <textarea name="suggest" class="form-control w-50" id="" cols="10" rows="2"
                            placeholder="Message......"></textarea>
                        <input type="submit" value="Send" class="btn m-3  text-white btn-dark">
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>